@use "../styles/colors.scss" as c;

@mixin transparent-btn($width: 196px, $height: 45px) {
  width: $width;
  height: $height;
  background: transparent;
  border: 2px solid c.$light-orange;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  color: c.$dark-grey;
  margin-left: 22px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  will-change: transform;

  span {
    position: relative;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
  }

  svg {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;

    path {

    }
  }

  &:hover {
    color: c.$white;

    svg {
      path {
        fill: #FFFFFF;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-$height);
    width: $height;
    height: $height;
    background: #F99A1C;
    border-radius: 50%;
    transition: all 0.5s ease;
    z-index: 1;
    will-change: transform, width, height;
  }

  &:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transform: translateY(-50%) scale(1.1);
  }
}


@mixin specs-table(
  $margin-bottom: 16px,
  $row-margin-bottom: 9px,
  $label-font-size: 18px,
  $label-color: #0F1019,
  $label-line-height: 120%,
  $dots-color: #0F1019,
  $mobile-breakpoint: 1000px,
  $mobile-font-size: 15px
) {
  margin-bottom: $margin-bottom;

  .specs-row {
    display: flex;
    align-items: center;
    margin-bottom: $row-margin-bottom;
  }

  .specs-label {
    font-size: $label-font-size;
    font-weight: 400;
    color: $label-color;
    line-height: $label-line-height;

    @media (max-width: $mobile-breakpoint) {
      font-size: $mobile-font-size;
    }
  }

  .specs-dots {
    flex: 1;
    border-bottom: 1px dashed $dots-color;
    height: 1em;
  }

  .specs-value {
    font-size: $label-font-size;
    color: $label-color;

    @media (max-width: $mobile-breakpoint) {
      font-size: $mobile-font-size;
    }
  }
}


@mixin labels-container($column-gap: 8px, $margin-bottom: 18px) {
  display: flex;
  column-gap: $column-gap;
  margin-bottom: $margin-bottom;
}

@mixin label-item(
  $width: 42px,
  $height: 48px,
  $background-url: url(../images/product_item.svg),
  $display: flex,
  $align-items: center,
  $justify-content: center
) {
  width: $width;
  height: $height;
  background: $background-url no-repeat;
  background-size: contain;
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}


@mixin quantity-counter-full(
  $gap: 6px,
  $margin-bottom: 12px,
  $btn-size: 32px,
  $btn-bg: #0F1019,
  $btn-color: #F99A1C,
  $input-width: 74px,
  $input-height: 32px,
  $input-bg: #FFFFFF,
  $input-border: #41475C,
  $input-color: #0F1019,
  $font-size: 16px
) {
  display: flex;
  column-gap: $gap;
  margin-bottom: $margin-bottom;

  .counter-btn {
    width: $btn-size;
    height: $btn-size;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $btn-bg;
    color: $btn-color;
    cursor: pointer;
    border: none;
  }

  .counter-input {
    width: $input-width;
    height: $input-height;
    background: $input-bg;
    border: 1px solid $input-border;
    font-size: $font-size;
    font-weight: 400;
    color: $input-color;
    border-radius: 100px;
    text-align: center;
    outline: none;
  }
}

@mixin animated-button(
  $width: 195px,
  $height: 63px,
  $bg-color: c.$white,
  $text-color: #0F1019,
  $border-color: #F07000,
  $hover-bg: #F99A1C,
  $hover-text-color: #FFFFFF,
  $font-size: 18px,
  $mobile-font-size: 15px,
  $mobile-height: 42px,
  $border-radius: 100px,
  $margin-bottom: 16px
) {
  width: $width;
  height: $height;
  background: $bg-color;
  color: $text-color;
  font-size: $font-size;
  font-weight: bold;
  margin-bottom: $margin-bottom;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  will-change: transform;

  @media (max-width: 1000px) {
    font-size: $mobile-font-size;
    height: $mobile-height;
  }

  svg {
    filter: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    //transition: all 0.5s ease;

    path {
      transition: all 0.5s ease;
    }
  }

  &:hover {
    color: $hover-text-color;
    border: 2px solid $hover-bg;

    svg {
      path {
        fill: #ffffff;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-64px);
    width: 64px;
    height: 64px;
    background: $hover-bg;
    border-radius: 50%;
    transition: all 0.5s ease;
    z-index: 1;
    will-change: transform, width, height;
  }

  &:hover::before {
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    transform: translateY(-50%) scale(1.1);
  }

  span {
    position: relative;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
  }

  svg {
    margin-left: 10px;
    position: relative;
    z-index: 2;
  }

  .hover {
    display: none;
  }
}

@mixin checkbox-label {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #0F1019;
  cursor: pointer;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 2px;
    margin-right: 12px;
    margin-top: 3px;
    background: #fff;
    display: inline-block;
    flex-shrink: 0;
    transition: all 0.3s ease;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 3px;
    top: 8px;
    width: 14px;
    height: 11px;
    background-image: url(../images/checkbox.svg);
    background-repeat: no-repeat;
  }

  &.checked::after {
    display: block;
  }

  span {
    span {
      color: #9DA4AE;
    }
  }
}


@mixin orange-button {
  width: 188px;
  min-width: 188px;
  height: 55px;
  color: #fff;
  background: c.$orange;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 150%;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;

  span {
    position: relative;
    z-index: 2;
    display: flex;

    svg {
      margin-right: 10px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-43px);
    width: 43px;
    height: 45px;
    background: #F99A1C;
    border-radius: 50%;
    transition: all 0.5s ease;
    z-index: 1;
  }

  &:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transform: translateY(-50%) scale(1.1);
  }
}
