<section class="advantages">
    <div class="container">
        <h2>Преимущества</h2>
        <div class="advantages__inner">
            <div class="advantages__top flex">
                <div class="advantages__left flex">
                    <div class="advantages__item">
                        <div class="advantages__content">
                            <div class="advantages__title">Работаем с НДС</div>
                            <div class="advantages__info">Все цены на сайте указаны с учетом НДС</div>
                        </div>
                        <div class="advantages__marker">
                            <include src="assets/svg/marker1.html"></include>
                        </div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__content">
                            <div class="advantages__title">Предоставляем скидки</div>
                            <div class="advantages__info">Цены на товарные позиции зависят от объема закупки</div>
                        </div>
                        <div class="advantages__marker">
                            <include src="assets/svg/marker2.html"></include>
                        </div>
                    </div>
                </div>
                <div class="advantages__item advantages__img">
                    <img class="lazy" data-src="assets/images/advantages_img.png" alt="">
                </div>
                <div class="advantages__right flex">
                    <div class="advantages__item">
                        <div class="advantages__marker">
                            <include src="assets/svg/marker3.html"></include>
                        </div>
                        <div class="advantages__content">
                            <div class="advantages__title">Помощь в подборе</div>
                            <div class="advantages__info">Подберем необходимую под вашу задачу продукцию</div>
                        </div>
                    </div>
                    <div class="advantages__item">
                        <div class="advantages__marker">
                            <include src="assets/svg/marker4.html"></include>
                        </div>
                        <div class="advantages__content">
                            <div class="advantages__title">Надежный поставщик</div>
                            <div class="advantages__info">Более 10 лет добросовестно выполняем свою работу</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="advantages__bottom">
                <div class="advantages__item">
                    <div class="advantages__marker">
                        <include src="assets/svg/marker5.html"></include>
                    </div>
                    <div class="advantages__content">
                        <div class="advantages__title">Расчет заземления и молниезащиты</div>
                        <div class="advantages__info">ПОдготовим документацию согласно СО 153-34.03.603-2003</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>