<footer class="footer">
   <div class="container">
       <div class="footer__top">
           <div class="footer__logo">
               <a href="#">
                   <include src="assets/svg/footer-logo.html"></include>
               </a>
           </div>
           <div class="footer_contacts">
               <div class="footer_contacts__title"><a href="#">Контакты</a></div>
               <ul>
                   <li><a href="tel:+78123098289">+7 (812) 309-82-89</a></li>
                   <li><a href="mailto:sales@bip-it.ru">sales@bip-it.ru</a></li>
                   <li>198184 г. Санкт-Петербург, Канонерский остров, дом 3, корпус 1, литера Б</li>
                   <li>
                       <span>Пн-Пт: с 9:00 до 18:00</span>
                       <span>Сб-Вс: выходной</span>
                   </li>
               </ul>
           </div>
           <nav class="footer__nav">
               <ul class="footer__list">
                   <li class="footer__item">
                       <a class="footer__link" href="#">Информация</a>
                       <ul class="footer__list_sab">
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">О компании</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Вакансии</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Реквизиты</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Новости</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Сертификаты</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Оплата</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Доставка</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Контакты</a>
                           </li>
                       </ul>
                   </li>
                   <li class="footer__item">
                       <a class="footer__link" href="#">Каталог</a>
                       <ul class="footer__list_sab">
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Стержни заземления</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Комплекты заземления универсальные</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Проводники</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Зажимы и держатели</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Аксессуары для металлорукава</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Шины</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Молнеприемники и мачты</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Комплекты молниезащиты</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Электролитическое заземление</a>
                           </li>
                           <li class="footer__item_sab">
                               <a class="footer__link_sab" href="#">Комплектующие и аксессуары</a>
                           </li>
                       </ul>
                   </li>
               </ul>
           </nav>
       </div>
   </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__rights">© 2025 ООО «». Все права защищены.</div>
            <div class="privacy-policy"><a href="#">Политика конфиденциальности</a></div>
            <div class="footer__info"><a href="#">Страницы сайта не являются публичной офертой</a></div>
            <div class="footer__made-in"><a href="https://artfactor.ru/" target="_blank">Сайт сделан в АртФактор</a></div>
        </div>
    </div>
</footer>