<header class="header">
      <div class="container">
            <div class="header__top flex">
                        <div class="header__inner flex">
                              <div class="header__phone flex">
                                    <a href="tel:+78123098289"><include src="assets/svg/phone.html"></include><span>+7 (812) 309-82-89</span></a>
                              </div>
                              <div class="header__mail flex">
                                    <include src="assets/svg/mail.html"></include>
                                    <a href="mailto:sales@bip-it.ru">sales@bip-it.ru</a>
                              </div>
                        </div>
                        <div class="header__inner flex">
                              <div class="header__burger">
                                    <include src="assets/svg/burger.html"></include>
                              </div>
                              <div class="header__basket">
                                    <span class="quantity flex flex-center">0</span>
                                    <include src="assets/svg/white_basket.html"></include>
                              </div>
                              <div class="header__user flex">
                                    <include src="assets/svg/user.html"></include>
                                    <a href="#">Войти</a>
                              </div>
                        </div>
                  </div>
            </div>
      <div class="menu_normal">
            <div class="header__bottom flex">
                  <div class="header__logo">
                        <a href="#">
                              <include src="assets/svg/logo.html"></include>
                        </a>
                  </div>
                  <nav class="header__nav">
                        <ul class="header__list flex">
                              <li class="header__item">
                                    <button class="catalog-btn flex flex-center">
                                                <span class="flex flex-center">
                                                      <include src="assets/svg/catalog-btn.html"></include>
                                                      Каталог
                                                </span>
                                    </button>
                              </li>
                              <li class="header__item drop-down">
                                    <a href="#" class="header__link">О компании</a>
                                    <ul class="header__sublist">
                                          <li class="header__subitem">
                                                <a href="#" class="header__sublink">Вакансии</a>
                                          </li>
                                          <li class="header__subitem">
                                                <a href="#" class="header__sublink">Реквизиты</a>
                                          </li>
                                          <li class="header__subitem">
                                                <a href="#" class="header__sublink">Статьи</a>
                                          </li>
                                          <li class="header__subitem">
                                                <a href="#" class="header__sublink">Новости</a>
                                          </li>
                                          <li class="header__subitem">
                                                <a href="#" class="header__sublink">Сертификаты</a>
                                          </li>
                                    </ul>
                              </li>
                              <li class="header__item">
                                    <a href="#" class="header__link">Оплата</a>
                              </li>
                              <li class="header__item">
                                    <a href="#" class="header__link">Доставка</a>
                              </li>
                              <li class="header__item">
                                    <a href="#" class="header__link">Контакты</a>
                              </li>
                        </ul>
                  </nav>
                  <div class="search">
                        <button class="search__toggle" type="button" aria-label="Открыть поиск">
                              <include src="assets/svg/search-form-mobile.html"></include>
                        </button>
                        <div class="search__form-container">
                              <form class="search__form">
                                    <input type="search" placeholder="Поиск" name="q" class="search__input">
                                    <span class="search-icon-desc"><include src="assets/svg/search-form-mobile.html"></include></span>
                                    <button type="button" class="search__close" aria-label="Закрыть поиск">
                                          <include src="assets/svg/cross.html"></include>
                                    </button>
                                    <span class="search-icon"><include src="assets/svg/search.html"></include></span>
                              </form>
                        </div>
                  </div>
                  <a href="#" class="feedback-btn"><span>Обратная связь</span></a>
            </div>
      </div>
      <div class="menu_fixed">
            <div class="header__bottom flex">
                  <div class="header__logo">
                        <include src="assets/svg/logo.html"></include>
                  </div>
                  <nav class="header__nav">
                        <ul class="header__list flex">
                              <li class="header__item">
                                    <button class="catalog-btn flex flex-center">
                                                <span class="flex flex-center">
                                                    <include src="assets/svg/catalog-btn.html"></include>
                                                      Каталог
                                                </span>
                                    </button>
                              </li>
                              <li class="header__item">
                                    <a class="header__link">О компании</a>
                              </li>
                              <li class="header__item">
                                    <a class="header__link">Оплата</a>
                              </li>
                              <li class="header__item">
                                    <a class="header__link">Доставка</a>
                              </li>
                              <li class="header__item">
                                    <a class="header__link">Контакты</a>
                              </li>
                        </ul>
                  </nav>
                  <div class="search">
                        <button class="search__toggle" type="button" aria-label="Открыть поиск">
                              <include src="assets/svg/search-form-mobile.html"></include>
                        </button>
                        <div class="search__form-container">
                              <form class="search__form">
                                    <input type="search" placeholder="Поиск" name="q" class="search__input">
                                    <button type="button" class="search__close" aria-label="Закрыть поиск">
                                          <include src="assets/svg/cross.html"></include>
                                    </button>
                                    <span class="search-icon"><include src="assets/svg/search.html"></include></span>
                              </form>
                        </div>
                  </div>
                  <a href="#" class="feedback-btn"><span>Обратная связь</span></a>
            </div>
      </div>
</header>