<section class="main-news animate-section">
    <div class="container">
        <div class="main-news__title flex">
            <h2>Новости</h2>
            <a class="all-product-link">
                <include src="assets/svg/all-news-icon.html"></include>
                <span>Все новости</span>
            </a>
        </div>

        <div class="main-news__slider animate-cards">
            <div class="swiper slider-main-news">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animate-card">
                        <include src="layout/template/card/news-card.html">
                            {
                            "image": "assets/images/main-news1.png",
                            "title": "Заголовок новости в 2-3 строки Заголовок новости в 2-3 строки",
                            "date": "27.08.25",
                            "link": "#"
                            }
                        </include>
                    </div>
                    <div class="swiper-slide animate-card">
                        <include src="layout/template/card/news-card.html">
                            {
                            "image": "assets/images/main-news2.png",
                            "title": "Заголовок новости в 2-3 строки Заголовок новости в 2-3 строки",
                            "date": "27.08.25",
                            "link": "#"
                            }
                        </include>
                    </div>
                    <div class="swiper-slide animate-card">
                        <include src="layout/template/card/news-card.html">
                            {
                            "image": "assets/images/main-news3.png",
                            "title": "Заголовок новости в 2-3 строки Заголовок новости в 2-3 строки",
                            "date": "27.08.25",
                            "link": "#"
                            }
                        </include>
                    </div>
                    <div class="swiper-slide animate-card">
                        <include src="layout/template/card/news-card.html">
                            {
                            "image": "assets/images/main-news1.png",
                            "title": "Заголовок новости в 2-3 строки Заголовок новости в 2-3 строки",
                            "date": "27.08.25",
                            "link": "#"
                            }
                        </include>
                    </div>
                    <div class="swiper-slide animate-card">
                        <include src="layout/template/card/news-card.html">
                            {
                            "image": "assets/images/main-news2.png",
                            "title": "Заголовок новости в 2-3 строки Заголовок новости в 2-3 строки",
                            "date": "27.08.25",
                            "link": "#"
                            }
                        </include>
                    </div>
                </div>

                <div class="main-news__slider-controls">
                    <div class="swiper-button-prev">
                        <include src="assets/svg/arrow-left.html"></include>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next">
                        <include src="assets/svg/arrow-right.html"></include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>