<div class="modal-catalog">
    <div class="container">
        <div class="modal-catalog__inner">
             <ul class="modal-catalog__list first-list">
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Стержни заземления
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Комплекты заземления универсальные
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Проводники
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Зжимы и держатели
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Аксессуары для металлорукава
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Молнеприемнки и мачты
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Комплекты молниезащиты
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Электролитическое заземление
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Шины
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link list-opened-btn">
                         <span>Комплектующие и аксессуары</span>
                         <include src="assets/svg/orange-arrow.html"></include>
                     </a>
                 </li>
             </ul>
            <ul class="modal-catalog__list second-list">
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link list-close-btn">
                        <include src="assets/svg/orange-arrow.html"></include>
                        <span>Комплектующие и аксессуары</span>
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Головки
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Муфты
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Проводники
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Наконечники
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Насадки на отбойный молоток
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Ленты и пасты
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Инспекционные колодцы и лючки
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Для молниезащиты
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Прочее
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-catalog__img">
        </div>
    </div>
</div>
<div class="mobile-menu">
    <div class="mobile-menu__inner">
        <div class="mobile-menu__title">Меню</div>
        <nav class="mobile-navigation">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link">О компании</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link">Оплата</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link">Доставка</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-menu__contacts">
            <div class="mobile-menu__phone flex">
                <include src="assets/svg/phone-mobile.html"></include>
                <a href="tel:+78123098289">+7 (812) 309-82-89</a>
            </div>
            <div class="mobile-menu__mail flex">
                <include src="assets/svg/mail-mobile.html"></include>
                <a href="mailto:sales@bip-it.ru">sales@bip-it.ru</a>
            </div>
        </div>
        <a href="#form" class="feedback-btn flex flex-center" ><span>Обратная связь</span></a>
    </div>
    <div class="mobile-menu__close">
        <include src="assets/svg/cross.html"></include>
    </div>
</div>