<div class="modal-catalog">
    <div class="modal-catalog__close">
        <span>Каталог</span>
        <span class="catalog-close">
            <include src="assets/svg/cross.html"></include>
        </span>
    </div>
    <div class="container">
        <div class="modal-catalog__inner">
             <ul class="modal-catalog__list first-list">
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Стержни заземления
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Комплекты заземления универсальные
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Проводники
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Зжимы и держатели
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Аксессуары для металлорукава
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Молнеприемнки и мачты
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Комплекты молниезащиты
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Электролитическое заземление
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link">
                         Шины
                     </a>
                 </li>
                 <li class="modal-catalog__item">
                     <a href="#" class="modal-catalog__link list-opened-btn">
                         <span>Комплектующие и аксессуары</span>
                         <include src="assets/svg/orange-arrow.html"></include>
                     </a>
                 </li>
             </ul>
            <ul class="modal-catalog__list second-list">
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link list-close-btn">
                        <include src="assets/svg/orange-arrow.html"></include>
                        <span>Комплектующие и аксессуары</span>
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Головки
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Муфты
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Проводники
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Наконечники
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Насадки на отбойный молоток
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Ленты и пасты
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Инспекционные колодцы и лючки
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Для молниезащиты
                    </a>
                </li>
                <li class="modal-catalog__item">
                    <a href="#" class="modal-catalog__link">
                        Прочее
                    </a>
                </li>
            </ul>
        </div>
        <div class="modal-catalog__img">
            <picture>
                <source media="(max-width: 1300px)" data-srcset="assets/images/modal-catalog-img2.jpg">
                <img class="lazy" data-src="assets/images/modal-catalog-img.jpg">
            </picture>
            <img class="lazy active" data-src="assets/images/modal-catalog-img3.jpg">
            <img class="lazy active-mobile" data-src="assets/images/modal-catalog-img4.jpg">
        </div>
    </div>
</div>
<div class="mobile-menu">
    <div class="mobile-menu__inner">
        <div class="mobile-menu__title">Меню</div>
        <nav class="mobile-navigation">
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link">О компании</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link">Оплата</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link">Доставка</a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-menu__contacts">
            <div class="mobile-menu__phone flex">
                <include src="assets/svg/phone-mobile.html"></include>
                <a href="tel:+78123098289">+7 (812) 309-82-89</a>
            </div>
            <div class="mobile-menu__mail flex">
                <include src="assets/svg/mail-mobile.html"></include>
                <a href="mailto:sales@bip-it.ru">sales@bip-it.ru</a>
            </div>
        </div>
        <a href="#form" class="feedback-btn flex flex-center" ><span>Обратная связь</span></a>
    </div>
    <div class="mobile-menu__close">
        <include src="assets/svg/cross.html"></include>
    </div>
</div>
<div class="modal-filter">
    <div class="modal-filter__title">Фильтр</div>
    <div class="modal-filter__inner">
    <aside class="filter">
        <div class="filter__labels">
            <div>
                14
            </div>
            <div class="active">
                16
            </div>
            <div>
                20
            </div>
        </div>
        <form class="filter-form" method="GET">
            <div class="filter__bg">
                <fieldset class="filter-variants">
                    <div class="price-filter">
                        <legend class="price-filter__legend">Цена</legend>
                        <div class="price-filter__content">
                            <div class="price-inputs">
                                <div class="price-input-group">
                                    <label for="min-price-modal" class="price-label">От</label>
                                    <div class="price-input-wrapper">
                                        <input type="number" id="min-price-modal" name="min_price" value="100" min="0" max="2700" class="price-input min-price">
                                        <span class="price-currency">руб</span>
                                    </div>
                                </div>

                                <div class="price-input-group">
                                    <label for="max-price-modal" class="price-label">До</label>
                                    <div class="price-input-wrapper">
                                        <input type="number" id="max-price-modal" name="max_price" value="2700" min="0" max="2700" class="price-input max-price">
                                        <span class="price-currency">руб</span>
                                    </div>
                                </div>
                            </div>

                            <div class="price-sliders">
                                <div class="slider-track"></div>
                                <input type="range" id="min-slider-2" min="0" max="2700" value="100" class="slider min-slider">
                                <input type="range" id="max-slider-2" min="0" max="2700" value="2700" class="slider max-slider">
                            </div>
                        </div>
                    </div>
                    <div class="filter-variants__item collapsed">
                        <div class="filter-variants__header">
                            <span class="filter-variants__toggle">Бренд</span>
                        </div>
                        <div class="filter-variants__content">
                            <div class="filter-variants__option">
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>GALMAR <span>(10)</span></span>
                                    </label>
                                </div>
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>ZANDZ <span>(10)</span></span>
                                    </label>
                                </div>
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>Название бренда <span>(10)</span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-variants__item collapsed">
                        <div class="filter-variants__header">
                            <span class="filter-variants__toggle">Материал стержня</span>
                        </div>
                        <div class="filter-variants__content">
                            <div class="filter-variants__option">
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>Cталь омедненная <span>(10)</span></span>
                                    </label>
                                </div>
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>Сталь оцинкованная <span>(10)</span></span>
                                    </label>
                                </div>
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>Сталь нержавеющая <span>(10)</span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-variants__item collapsed">
                        <div class="filter-variants__header">
                            <span class="filter-variants__toggle">Тип стержня</span>
                        </div>
                        <div class="filter-variants__content">
                            <div class="filter-variants__option">
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>Резьбовой <span>(10)</span></span>
                                    </label>
                                </div>
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>Безмуфтовый <span>(10)</span></span>
                                    </label>
                                </div>
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>С заострением <span>(10)</span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-variants__item collapsed">
                        <div class="filter-variants__header">
                            <span class="filter-variants__toggle">Длина стержня (мм)</span>
                        </div>
                        <div class="filter-variants__content">
                            <div class="filter-variants__option">
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>14 <span>(10)</span></span>
                                    </label>
                                </div>
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>16 <span>(10)</span></span>
                                    </label>
                                </div>
                                <div class="filter-variants__inner">
                                    <label class="checkbox-label">
                                        <input type="checkbox" name="a[]" value="10">
                                        <span>20 <span>(10)</span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
    </aside>
    </div>
    <div class="modal-filter__btn">
        <button class="clear-btn">
            <span>Показать товары</span>
            <include src="assets/svg/all-news-icon.html"></include>
        </button>
    </div>
    <div class="modal-filter__close">
        <include src="assets/svg/cross.html"></include>
    </div>
</div>
<div class="modal-form feedback-form">
    <div class="modal-form__inner">
        <div class="modal-form__title">Отправить запрос</div>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя*"  required>
                </label>
                <label>
                    <input type="email" name="email" placeholder="mail*" required>
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон*" data-phone-input required>
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <textarea name="textarea" placeholder="Ваш вопрос*" required></textarea>
                </label>
            </fieldset>
            <fieldset>
                <button>
                    <include src="assets/svg/lightning3.html"></include>
                    <span>Отправить</span>
                </button>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required>
                    <span>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и политику конфиденциальности</span>
                </label>
                <span class="modal-form__info">*Поля обязательны к заполнению</span>
            </fieldset>
        </form>
        <div class="modal-form__link">
            <a href="tel:+78123098289"><include src="assets/svg/phone.html"></include><span>+7 (812) 309-82-89</span></a>
            <a href="mailto:sales@bip-it.ru"><include src="assets/svg/mail.html"></include><span>sales@bip-it.ru</span></a>
        </div>
        <div class="feedback-form__close">
            <img class="lazy" data-src="assets/images/form-close.svg" alt="">
        </div>
    </div>
</div>
<div class="modal-placed">
    <div class="modal-placed__inner">
        <div class="modal-placed__title">Оформление заказа</div>
        <p>Ваш заказ успешно сформирован, в ближайшее время, по указанному номеру телефона, с вами свяжется менеджер для уточнения деталей заказа.</p>
        <div class="modal-placed__subtitle">Спасибо, что обратились в нашу компанию!</div>
        <p class="links_paragraph">Если у Вас возникли вопросы, свяжитесь с нами по телефону или напишите на эл. почту, которые указаны ниже.</p>
        <div class="modal-placed__link">
            <a href="tel:+78123098289"><include src="assets/svg/phone.html"></include><span>+7 (812) 309-82-89</span></a>
            <a href="mailto:sales@bip-it.ru"><include src="assets/svg/mail.html"></include><span>sales@bip-it.ru</span></a>
        </div>
    </div>
    <div class="modal-placed__close">
        <img class="lazy" data-src="assets/images/form-close.svg" alt="">
    </div>
</div>
<div class="modal-form vacancy-form">
    <div class="modal-form__inner">
        <div class="modal-form__title">Отправить заявку</div>
        <form class="form-modal">
            <fieldset>
                <label>
                    <input type="text" name="name" placeholder="Имя*"  required>
                </label>
                <label>
                    <input type="email" name="email" placeholder="mail*" required>
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <input type="tel" name="tel" placeholder="Телефон*" data-phone-input required>
                </label>
            </fieldset>
            <fieldset>
                <label>
                    <input type="text" name="city" placeholder="Город*"  required>
                </label>
            </fieldset>
            <fieldset>
                <div class="input-wrapper">
                    <input class="styled-input filled" type="text" name="city" placeholder=" " required>
                    <span class="input-label">Вакансия*</span>
                </div>
            </fieldset>
            <fieldset>
                <label>
                    <textarea name="textarea" placeholder="Ваше сообщение"></textarea>
                </label>
            </fieldset>
            <fieldset>
                <button>
                    <include src="assets/svg/lightning3.html"></include>
                    <span>Отправить</span>
                </button>
                <label class="checkbox-label">
                    <input type="checkbox" name="checkbox" required>
                    <span>Нажимая на кнопку, вы соглашаетесь на обработку персональных данных и политику конфиденциальности</span>
                </label>
                <span class="modal-form__info">*Поля обязательны к заполнению</span>
            </fieldset>
        </form>
        <div class="modal-form__link">
            <a href="tel:+78123098289"><include src="assets/svg/phone.html"></include><span>+7 (812) 309-82-89</span></a>
            <a href="mailto:sales@bip-it.ru"><include src="assets/svg/mail.html"></include><span>sales@bip-it.ru</span></a>
        </div>
        <div class="vacancy-form__close">
            <img class="lazy" data-src="assets/images/form-close.svg" alt="">
        </div>
    </div>
</div>
<div class="modal-marketplace">
    <div class="modal-marketplace__inner">
        <div class="modal-marketplace__title">Купить через маркетплес</div>
        <p>Наши товары  доступны на следующих маркетплейсах:</p>
        <div class="modal-marketplace__items">
            <a href="#">
                <img class="lazy" data-src="assets/images/ozon.png" alt="">
                <span>Купить<br/> в OZON</span>
            </a>
            <a href="#">
                <img class="lazy" data-src="assets/images/yandex-market.png" alt="">
                <span>Купить на<br/>Яндекс. Маркет</span>
            </a>
            <a href="#">
                <img class="lazy" data-src="assets/images/wb.png" alt="">
                <span>Купить на<br/>Wildberries</span>
            </a>
        </div>
        <div class="modal-marketplace__close">
            <img class="lazy" data-src="assets/images/form-close.svg" alt="">
        </div>
    </div>
</div>
<div class="overlay"></div>